<!--=====================================
Breadcrumb
======================================-->  

<div class="ps-breadcrumb">

    <div class="container">

        <ul class="breadcrumb">

            <li><a href="index.html">Home</a></li>

            <li>Policy</li>

        </ul>

    </div>

</div>

<!--=====================================
About Us Content
======================================--> 

<div class="ps-page--single" id="about-us">
    <div class="ps-about-intro">
        <div class="container">
            <div class="ps-section__header">
                <h4>Term & Condition Key.In MarketPlace</h4>
                <h3>We connect millions of buyers and sellers around the world, empowering people & creating economic opportunity for all.</h3>
                <p>Key.in is a company dedicated to the development of its own and third-party software, implementing new trends in the development and integration of software technologies; which allows us to provide efficient solutions to the needs of customers. For this we have a team of engineers in the areas of information and communication technologies, trained to provide the software solution required by our clients through applications and software used for desktop, mobile and cloud environments.</p>
            </div>
        </div>
    </div>
</div>