<app-products-breadcrumb></app-products-breadcrumb>
<!--=====================================
    Categories Content
    ======================================--> 

<div class="container-fuid bg-white my-4">

    <div class="container">

        <!--=====================================
        Layout Categories
        ======================================--> 

        <div class="ps-layout--shop">
        
            <section>
                <app-best-sales-items></app-best-sales-items>
                <app-products-recommended></app-products-recommended>
            </section>
        </div>
    </div>
</div>