<!--=====================================
Nav Account
======================================--> 

<div 
*ngIf="!preload"
class="ps-section__content">

    <ul class="ps-section__links">
        <li><a href="/account">My Wishlist</a></li>
        <li><a href="/account/my-shopping">My Shopping</a></li>
        <li class="active"><a href="/account/my-store">My Store</a></li>
        <li><a href="my-account_my-sales.html">My Sales</a></li>
    </ul>

    <!--=====================================
    My Store
    ======================================--> 
    <div class="ps-vendor-store">

        <div class="container">

            <div class="ps-section__container">

                <!--=====================================
                Vendor Profile
                ======================================--> 

                <div class="ps-section__left">

                    <div class="ps-block--vendor">

                        <div class="ps-block__thumbnail">

                            <img src="{{path}}img/stores/{{store[0].url}}/{{store[0].logo}}">

                        </div>

                        <div class="ps-block__container">

                            <div class="ps-block__header">

                                <h4>{{store[0].store}}</h4>

                                <div class="br-wrapper br-theme-fontawesome-stars">

                                   
                               </div>

                                <p><strong><span class="percentage">0</span>% Positive</strong> (<span class="globalRating">0</span> rating)</p>

                            </div><span class="ps-block__divider"></span>

                            <div class="ps-block__content">

                                <p>{{store[0].about}}</p>

                                <span class="ps-block__divider"></span>

                                <p><strong>Address</strong> {{store[0].address}}</p>
                                
                                <figure>

                                    <figcaption>Follow us on social</figcaption>

                                    <ul class="ps-list--social-color">

                                        <li
                                        *ngFor="let social of store[0].newSocial"
                                        >
                                            <a class="{{social}}" href="{{store[0].social[social]}}">
                                                <i class="fab fa-{{social}}"></i></a>
                                        </li>

                                    </ul>

                                </figure>

                            </div>

                            <div class="ps-block__footer">

                                <p>Call us directly<strong><small>{{store[0].phone}}</small></strong></p>

                                <h5>or Or if you have any question <strong><small>{{store[0].email}}</small></strong></h5>

                                <a class="ps-btn ps-btn--fullwidth" href="#editStore" data-toggle="modal">Edit</a>

                            </div>

                        </div>

                    </div>

                </div><!-- End Vendor Profile -->

                <!--=====================================
                Products
                ======================================--> 

                <div class="ps-section__right">

                    
                    <div class="d-flex justify-content-between">
                    
                        <div>
                            <button 
                            class="btn btn-lg btn-warning my-3"
                            data-toggle="modal"
                            href="#formProduct"
                            >Create new product</button>
                        </div>
                        
                        <div>
                            <ul class="nav nav-tabs">  

                                <li class="nav-item">
                                  <a class="nav-link" href="#">Orders</a>
                                </li>

                                <li class="nav-item">
                                  <a class="nav-link" href="#">Disputes</a>
                                </li>

                                <li class="nav-item">
                                  <a class="nav-link" href="#">Messages</a>
                                </li>
                               
                            </ul>

                        </div>

                    </div>

                    <table class="table dt-responsive" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" width="100%" style="opacity:0">
                        
                        <thead>

                            <tr>   
                                
                                <th>#</th>   

                                <th>Feedback</th>   

                                <th>Cover Image</th>   

                                <th>Product name</th>

                                <th>Category</th>

                                <th>Subcategory</th>

                                <th>Price</th>

                                <th>Shipping</th>

                                <th>Stock</th>

                                <th>Delivery time</th>

                                <th>Offer</th>

                                <th>End Offer</th> 

                                <th>Summary</th> 

                                <th>Specification</th>

                                <th>Details</th>

                                <th>Description</th>      

                                <th>Gallery</th>

                                <th>Top Banner</th>

                                <th>Default Banner</th>

                                <th>Horizontal Slider</th>

                                <th>Vertical Slider</th>

                                <th>Video</th>

                                <th>Views</th>

                                <th>Sales</th>

                                <th>Reviews</th>

                            </tr>

                        </thead>

                        <tbody>
                        
                            <tr
                            *ngFor="let product of products; let i = index; let lastIndex = last"
                            >
                                <!--=====================================
                                #
                                ======================================-->

                                <td>{{i+1}}</td>

                                <!--=====================================
                                Feedback
                                ======================================-->

                                <td>
                                    <h4> 
                                        <span 
                                        *ngIf="product.feedback.type == 'approved'"
                                        data-toggle="tooltip" title="{{product.feedback.comment}}"
                                        class="badge badge-success">
                                            <a routerLink="/product/{{product.url}}">Approved</a>
                                        </span>

                                        <span 
                                        *ngIf="product.feedback.type == 'review'"
                                        data-toggle="tooltip" title="{{product.feedback.comment}}"
                                        class="badge badge-warning">Review</span>
                                    </h4>
                                </td>

                                <!--=====================================
                                Cover Image
                                ======================================-->

                                <td>
                                    <img src="{{path}}img/products/{{product.category}}/{{product.image}}">
                                </td>

                                 <!--=====================================
                                Product name
                                ======================================-->

                                <td>{{product.name}}</td>

                                 <!--=====================================
                                Category
                                ======================================-->

                                <td>{{product.category}}</td>

                                 <!--=====================================
                                Sub-Category
                                ======================================-->

                                <td>{{product.sub_category}}</td>

                                <!--=====================================
                                Price
                                ======================================-->

                                <td>${{product.price}}</td>
                                
                                <!--=====================================
                                Shipping
                                ======================================-->

                                <td>${{product.shipping}}</td>

                                <!--=====================================
                                Stock
                                ======================================-->

                                <td>
                                    <span 
                                    *ngIf="product.stock >= 50"
                                    class="badge badge-success p-2">{{product.stock}}</span>
                                    <span 
                                    *ngIf="product.stock < 50"
                                    class="badge badge-danger p-2">{{product.stock}}</span>
                                </td>

                                <!--=====================================
                                Tiempo de entrega
                                ======================================-->

                                <td>{{product.delivery_time}} days</td>  

                                <!--=====================================
                                Ofertas
                                ======================================-->

                                <td>
                                    <div 
                                    *ngIf="product.offer.length > 0"
                                    >
                                        {{product.offer[0]}}: 
                                        <span *ngIf="product.offer[0] == 'Disccount'">{{product.offer[1]}}%</span>
                                        <span *ngIf="product.offer[0] == 'Fixed'">${{product.offer[1]}}</span>
                                    </div>
                                </td>

                                <td>
                                    <div 
                                    *ngIf="product.offer.length > 0"
                                    >
                                        {{product.offer[2] | date}}
                                    </div>
                                </td>

                                 <!--=====================================
                                Resumen
                                ======================================-->

                                <td>
                                    
                                    <div>

                                        <ul class="list-group p-3">
                                            
                                            <li *ngFor="let sum of product.summary">
                                                {{sum}}
                                            </li>

                                        </ul>

                                    </div>

                                </td>

                                <!--=====================================
                                Especificaciones técnicas
                                ======================================-->

                                <td>
                                    <div 
                                    *ngIf="product.specification.length > 0"
                                    class="my-3">

                                         <div 
                                        *ngFor="let spec of product.specification"
                                        class="ps-product__variations">
                                        
                                            <figure class="my-3">

                                                <figcaption>{{ spec | keys}}: <strong>Choose an option</strong></figcaption>
                                                
                                                <div 
                                                *ngIf="(spec | keys) == 'Color'"
                                                class="d-flex">

                                                    <div
                                                    *ngFor="let value of spec[spec|keys]"
                                                    class="rounded-circle mr-3 details"
                                                    data-toggle="tooltip" title="{{value}}"
                                                    style="background-color:{{value}};
                                                    width:30px; height:30px; cursor:pointer; border:1px solid #bbb"></div>
                                            
                                                </div>

                                                <div 
                                                *ngIf="(spec | keys) != 'Color'"
                                                class="d-flex">

                                                    <div
                                                    *ngFor="let value of spec[spec|keys]"
                                                    class="py-2 px-3 mr-3 details"
                                                    data-toggle="tooltip" title="{{value}}"
                                                    style="cursor:pointer; border:1px solid #bbb">
                                                        
                                                        {{value}}

                                                    </div>
                                    
                                                </div>

                                            </figure>

                                        </div>

                                    </div>


                                </td>

                                <!--=====================================
                                Tabla de detalles
                                ======================================-->

                                 <td>

                                    <table class="table table-bordered ps-table ps-table--specification">

                                        <tbody>

                                            <tr *ngFor="let detail of product.details">
                                              <td>{{detail.title}}</td>
                                              <td>{{detail.value}}</td>
                                            </tr> 

                                        </tbody>

                                    </table>

                                </td>


                                <!--=====================================
                                Descripción del producto
                                ======================================-->

                                <td>
                                   
                                   <div [innerHTML]="product.description"></div>

                                </td>

                                <!--=====================================
                                Galería del producto
                                ======================================-->

                                <td>
                                    <div class="row">

                                        <figure 
                                        *ngFor="let pic of product.gallery"
                                        class="col-3">
                                            <img src="{{path}}img/products/{{product.category}}/gallery/{{pic}}">
                                        </figure>
                                      
                                    </div>
                                </td>

                                <!--=====================================
                                Top Banner
                                ======================================-->

                                <td>

                                    <div class="py-3">
                                        <p><strong>H3 tag:</strong> {{product.top_banner["H3 tag"]}}</p>
                                        <p><strong>P1 tag:</strong> {{product.top_banner["P1 tag"]}}</p>
                                        <p><strong>H4 tag:</strong> {{product.top_banner["H4 tag"]}}</p>
                                        <p><strong>P2 tag:</strong> {{product.top_banner["P2 tag"]}}</p>
                                        <p><strong>Span tag:</strong> {{product.top_banner["Span tag"]}}/p>
                                        <p><strong>Button tag:</strong> {{product.top_banner["Button tag"]}}</p>
                                        <p><strong>IMG tag:</strong></p>
                                        <img src="{{path}}img/products/{{product.category}}/top/{{product.top_banner['IMG tag']}}"  class="img-fluid">

                                    </div>

                                </td>

                                <!--=====================================
                                Banner por defecto
                                ======================================-->

                                <td>
                                    <img src="{{path}}img/products/{{product.category}}/default/{{product.default_banner}}" alt="" class="img-fluid py-3">
                                </td>

                                <!--=====================================
                                Slide Horizontal
                                ======================================-->

                                <td>
                                    <div class="py-3">

                                        <p><strong>H4 tag:</strong> {{product.horizontal_slider["H4 tag"]}}</p>
                                        <p><strong>H3-1 tag:</strong> {{product.horizontal_slider["H3-1 tag"]}}</p>
                                        <p><strong>H3-2 tag:</strong> {{product.horizontal_slider["H3-2 tag"]}}</p>
                                        <p><strong>H3-3 tag:</strong> {{product.horizontal_slider["H3-3 tag"]}}</p>
                                        <p><strong>H3-4s tag:</strong> {{product.horizontal_slider["H3-4s tag"]}}</p>
                                       
                                        <p><strong>Button tag:</strong> {{product.horizontal_slider["Button tag"]}}</p>
                                        <p><strong>IMG tag:</strong></p>

                                        <img src="{{path}}img/products/{{product.category}}/horizontal/{{product.horizontal_slider['IMG tag']}}"  class="img-fluid">

                                    </div>
                                </td>

                                <!--=====================================
                                Slide Vertical
                                ======================================-->

                                <td>
                                    <img src="{{path}}img/products/{{product.category}}/vertical/{{product.vertical_slider}}" alt="" class="img-fluid py-3">
                                </td>

                                <!--=====================================
                                Video
                                ======================================-->

                                 <td>

                                    <div 
                                    *ngIf="product.video.length > 0">
                                        
                                        <iframe  
                                        class="mb-3"
                                        [attr.src]='product.video | urlsecure'
                                        height="360"
                                        frameborder="0" 
                                        allowfullscreen></iframe> 

                                    </div>
                                  
                                </td>

                                <!--=====================================
                                Vistas
                                ======================================-->

                                 <td>
                                    {{product.views}}
                                </td>

                                <!--=====================================
                                Ventas
                                ======================================-->

                                 <td>
                                    {{product.sales}}
                                </td>

                                <!--=====================================
                                Reseñas
                                ======================================-->

                                <td>
                              
                                    <div class="br-wrapper br-theme-fontawesome-stars">

                                        <select class="ps-rating" data-read-only="true">

                                            <option 
                                            *ngFor="let review of product.reviews; let i = index; let lastIndex = last"
                                            [value]="review">

                                            {{i+1}}

                                            {{lastIndex ? callbackReview() : ""}}

                                            </option>

                                        </select>
                    

                                    </div>

                                </td>
 
                            {{ lastIndex ? callback(i, totalReviews) : ""}}

                            </tr> 


                        </tbody>

                    </table>

                    <!--=====================================
                    Preload DataTable
                    ======================================-->
       
                    <div class="d-flex justify-content-center preloadTable">
                        
                        <div class="spinner-border text-muted my-3"></div>

                    </div>
                    
                    
                       
                </div>
            </div>
        
        </div>
    
    </div>

    <!--=====================================
    Modal para editar la tienda
    ======================================-->
    <div class="modal" id="editStore">
        
        <div class="modal-dialog modal-lg">
           
            <div class="modal-content">
                
                <form
                (ngSubmit)="onSubmitStore(f)"
                #f="ngForm">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title text-center">Edit Store</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body p-5 text-left">

                        <label class="text-danger"><sup>*</sup>Required</label>

                        <!--=====================================
                        Nombre de la tienda
                        ======================================-->

                         <div class="form-group">

                            <label>Store Name</label>

                            <div class="form-group__content">
                                 
                                <input type="text"
                                class="form-control"
                                name="storeName" 
                                [(ngModel)]="storeModel.store" 
                                readonly
                                required> 

                                <div class="valid-feedback">Valid.</div>
                                <div 
                                *ngIf="f.submitted && f.controls['storeName'].errors"
                                class="invalid-feedback">Please fill out this field.</div>

                            </div>

                        </div>

                        <!--=====================================
                        Url de la tienda
                        ======================================-->

                         <div class="form-group">

                            <label>Store Url</label>

                            <div class="form-group__content">
                                 
                                <input type="text"
                                class="form-control"
                                name="storeUrl" 
                                [(ngModel)]="storeModel.url"  
                                readonly
                                required> 

                                <div class="valid-feedback">Valid.</div>
                                <div 
                                *ngIf="f.submitted && f.controls['storeUrl'].errors"
                                class="invalid-feedback">Please fill out this field.</div>

                            </div>

                        </div>

                        <!--=====================================
                        Información de la tienda
                        ======================================-->

                        <div class="form-group">
                        
                            <label>Store About<sup class="text-danger">*</sup></label>

                            <div class="form-group__content">

                                <textarea
                                class="form-control"
                                rows="7"
                                placeholder="Notes about your store in maximum 1000 characters, ex: We are a store specialized in technology..."
                                name="storeAbout"
                                pattern="[-\\(\\)\\=\\%\\&\\$\\;\\_\\*\\'\\#\\?\\¿\\!\\¡\\:\\,\\.\\0-9a-zA-ZñÑáéíóúÁÉÍÓÚ ]{1,1000}"
                                [(ngModel)]="storeModel.about" 
                                (change)="validate(about)"
                                #about 
                                required></textarea>

                                <div class="valid-feedback">Valid.</div>
                                <div
                                *ngIf="f.submitted && f.controls['storeAbout'].errors"                                
                                class="invalid-feedback">Please fill out this field.</div>

                            </div>

                        </div>

                        <!--=====================================
                        Email de la tienda
                        ======================================-->

                        <div class="form-group">
                        
                            <label>Store Email<sup class="text-danger">*</sup></label>

                            <div class="form-group__content">
                              
                                <input type="email"
                                class="form-control" 
                                name="storeEmail" 
                                [(ngModel)]="storeModel.email"  
                                email
                                required> 
    
                                <div class="valid-feedback">Valid.</div>
                                <div 
                                *ngIf="f.submitted && f.controls['storeEmail'].errors"
                                class="text-danger">Please fill out this field.</div>

                            </div>

                        </div>

                        <!--=====================================
                        País de la tienda
                        ======================================-->
                        <div class="form-group">
                        
                            <label>Store Country<sup class="text-danger">*</sup></label>

                            <div class="form-group__content">
                                
                                <select
                                class="form-control"
                                name="storeCountry"
                                [(ngModel)]="storeModel.country"  
                                required>
                                    
                                    <option
                                    *ngFor="let country of countries"
                                    [value]="country.name">{{country.name}}</option>

                                </select>

                                <div class="valid-feedback">Valid.</div>
                                <div 
                                *ngIf="f.submitted && f.controls['storeCountry'].errors"
                                class="text-danger">Please fill out this field.</div>

                            </div>

                        </div>

                        <!--=====================================
                        Ciudad de la tienda
                        ======================================-->

                        <div class="form-group">
                        
                            <label>Store City<sup class="text-danger">*</sup></label>

                            <div class="form-group__content">
                                
                                <input type="text"
                                class="form-control"
                                name="storeCity"
                                pattern="[A-Za-zñÑáéíóúÁÉÍÓÚ ]{1,}"
                                [(ngModel)]="storeModel.city"
                                (change)="validate(city)"
                                #city   
                                required>

                                <div class="valid-feedback">Valid.</div>
                                <div 
                                *ngIf="f.submitted && f.controls['storeCity'].errors"
                                class="text-danger">Please fill out this field.</div>

                            </div>

                        </div>

                        <!--=====================================
                        Teléfono de la tienda
                        ======================================-->

                        <div class="form-group">
                        
                            <label>Store Phone<sup class="text-danger">*</sup></label>

                            <div class="form-group__content input-group">

                                <div class="input-group-append">
                                    <span class="input-group-text">{{dialCode}}</span>
                                </div>

                                <input type="text"
                                class="form-control"
                                name="storePhone"
                                pattern="[-\\0-9 ]{1,}"
                                [(ngModel)]="storeModel.phone"
                                (change)="validate(phone)"
                                #phone   
                                required>

                                <div class="valid-feedback">Valid.</div>
                                <div 
                                *ngIf="f.submitted && f.controls['storePhone'].errors"
                                class="text-danger">Please fill out this field.</div>

                            </div>

                        </div>

                        <!--=====================================
                        Dirección de la tienda
                        ======================================-->

                        <div class="form-group">
                        
                            <label>Store Address<sup class="text-danger">*</sup></label>

                            <div class="form-group__content">
                                
                                <input type="text"
                                class="form-control"
                                name="storeAddress"
                                pattern="[-\\(\\)\\=\\%\\&\\$\\;\\_\\*\\'\\#\\?\\¿\\!\\¡\\:\\,\\.\\0-9a-zA-ZñÑáéíóúÁÉÍÓÚ ]{1,1000}"
                                [(ngModel)]="storeModel.address"
                                (change)="validate(address)"
                                #address
                                required>
                            
                                <div class="valid-feedback">Valid.</div>
                                <div 
                                *ngIf="f.submitted && f.controls['storeAddress'].errors"
                                class="text-danger">Please fill out this field.</div>

                            </div>

                        </div>

                        <!--=====================================
                        Logo de la tienda
                        ======================================-->

                        <div class="form-group">            

                            <label>Store Logo<sup class="text-danger">*</sup></label>

                            <div class="form-group__content"> 
                                
                                <label class="pb-5" for="storeLogo">
                                    
                                    <img src="{{path}}/img/stores/{{storeModel.url}}/{{storeModel.logo}}" class="img-fluid changeLogo" style="width:150px">

                                </label>

                                <div class="custom-file">
                                    
                                    <input type="file"
                                    class="custom-file-input" 
                                    id="storeLogo"
                                    accept="image/*"
                                    maxSize="2000000"
                                    (change)="validateImage($event, 'changeLogo')"
                                    required>

                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>

                                    <label class="custom-file-label" for="storeLogo">Choose file</label>

                                </div>

                            </div>

                        </div>

                        <!--=====================================
                        Portada de la tienda
                        ======================================-->

                        <div class="form-group">            

                            <label>Store Cover<sup class="text-danger">*</sup></label>

                            <div class="form-group__content"> 
                                
                                <label class="pb-5" for="storeCover">
                                    
                                    <img src="{{path}}/img/stores/{{storeModel.url}}/{{storeModel.cover}}" class="img-fluid changeCover">

                                </label>

                                <div class="custom-file">
                                    
                                    <input type="file"
                                    class="custom-file-input" 
                                    id="storeCover"
                                    accept="image/*"
                                    maxSize="2000000"
                                    (change)="validateImage($event, 'changeCover')"
                                    required>

                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>

                                    <label class="custom-file-label" for="storeCover">Choose file</label>

                                </div>

                            </div>

                        </div>

                        <!--=====================================
                        Redes sociales de la tienda
                        ======================================-->

                        <div class="form-group">
                            
                            <label>Social Networks</label>

                            <!--=====================================
                            Facebook
                            ======================================-->

                            <div class="form-group__content input-group mb-5">
                                
                                <div class="input-group-append">
                                    <span class="input-group-text">https://facebook.com</span>
                                </div>

                                <input type="text"
                                class="form-control"
                                name="facebook"
                                social="socialNetwork"
                                pattern="[-\\_\\.\\0-9a-zA-Z]{1,}"
                                [(ngModel)]="social['facebook']"
                                (change)="validate(facebook)"
                                #facebook> 

                                <div class="valid-feedback">Valid.</div>
                                <div 
                                *ngIf="f.submitted && f.controls['facebook'].errors"
                                class="invalid-feedback">Please fill out this field.</div>

                            </div>

                            <!--=====================================
                            instagram
                            ======================================-->

                            <div class="form-group__content input-group mb-5">
                                
                                <div class="input-group-append">
                                    <span class="input-group-text">https://instagram.com</span>
                                </div>

                                <input type="text"
                                class="form-control"
                                name="instagram"
                                social="socialNetwork"
                                pattern="[-\\_\\.\\0-9a-zA-Z]{1,}"
                                [(ngModel)]="social['instagram']"
                                (change)="validate(instagram)"
                                #instagram> 

                                <div class="valid-feedback">Valid.</div>
                                <div 
                                *ngIf="f.submitted && f.controls['instagram'].errors"
                                class="invalid-feedback">Please fill out this field.</div>

                            </div>

                            <!--=====================================
                            twitter
                            ======================================-->

                            <div class="form-group__content input-group mb-5">
                                
                                <div class="input-group-append">
                                    <span class="input-group-text">https://twitter.com</span>
                                </div>

                                <input type="text"
                                class="form-control"
                                name="twitter"
                                social="socialNetwork"
                                pattern="[-\\_\\.\\0-9a-zA-Z]{1,}"
                                [(ngModel)]="social['twitter']"
                                (change)="validate(twitter)"
                                #twitter> 

                                <div class="valid-feedback">Valid.</div>
                                <div 
                                *ngIf="f.submitted && f.controls['twitter'].errors"
                                class="invalid-feedback">Please fill out this field.</div>

                            </div>

                            <!--=====================================
                            linkedin
                            ======================================-->

                            <div class="form-group__content input-group mb-5">
                                
                                <div class="input-group-append">
                                    <span class="input-group-text">https://linkedin.com</span>
                                </div>

                                <input type="text"
                                class="form-control"
                                name="linkedin"
                                social="socialNetwork"
                                pattern="[-\\_\\.\\0-9a-zA-Z]{1,}"
                                [(ngModel)]="social['linkedin']"
                                (change)="validate(linkedin)"
                                #linkedin> 

                                <div class="valid-feedback">Valid.</div>
                                <div 
                                *ngIf="f.submitted && f.controls['linkedin'].errors"
                                class="invalid-feedback">Please fill out this field.</div>

                            </div>

                            <!--=====================================
                            youtube
                            ======================================-->

                            <div class="form-group__content input-group mb-5">
                                
                                <div class="input-group-append">
                                    <span class="input-group-text">https://youtube.com</span>
                                </div>

                                <input type="text"
                                class="form-control"
                                name="youtube"
                                social="socialNetwork"
                                pattern="[-\\_\\.\\0-9a-zA-Z]{1,}"
                                [(ngModel)]="social['youtube']"
                                (change)="validate(youtube)"
                                #youtube> 

                                <div class="valid-feedback">Valid.</div>
                                <div 
                                *ngIf="f.submitted && f.controls['youtube'].errors"
                                class="invalid-feedback">Please fill out this field.</div>

                            </div>

                        </div>

                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        
                        <div class="form-group submtit">
                                
                            <button 
                            class="ps-btn ps-btn--fullwidth">Save</button>

                        </div>

                    </div>
                    
                </form>

            </div>    

        </div>

    </div>

</div>

<!--=====================================
Preload
======================================-->
<div 
*ngIf="preload"
class="d-flex justify-content-center">
                        
    <div class="spinner-border text-muted my-3"></div>

</div>
