<!--=====================================
Nav Account
======================================--> 

<div class="ps-section__content">

    <ul class="ps-section__links">
        <li><a href="/account">My Wishlist</a></li>
        <li><a href="/account/my-shopping">My Shopping</a></li>
        <li class="active"><a href="/account/new-store">My Store</a></li>
        <li><a href="my-account_my-sales.html">My Sales</a></li>
    </ul>

    <!--=====================================
    New Store
    ======================================--> 
    <div class="ps-page__content text-center row">

        <div class="container">

            <div class="ps-section__header">

                <h1>New to MarketPlace?</h1>

                <h4>Join a marketplace where nearly 50 million buyers around <br> the world shop for unique items</h4>

            </div>

            <div class="row">

                <div class="col-lg-4 col-12">

                    <div class="card">

                        <div class="card-body">
                    
                            <img src="{{path}}img/shop-1.jpg" class="img-fluid">

                        </div>

                        <div class="card-footer text-center">

                            <button 
                            data-toggle="tab"
                            href="#terms"
                            class="btn btn-warning btn-lg"
                            (click)="goTerms()">
                            <span class="badge badge-secondary">1</span> Accept terms and conditions</button>
                        
                        </div>

                    </div>

                </div>

                <div class="col-lg-4 col-12">

                    <div class="card">

                        <div class="card-body">
                    
                            <img src="{{path}}img/shop-2.jpg" class="img-fluid">

                        </div>

                        <div class="card-footer text-center">

                            <button 
                            [disabled]="!accept"
                            class="btn btn-warning btn-lg">
                            <span class="badge badge-secondary">2</span> Create Store</button>
                        
                        </div>

                    </div>

                </div>

                <div class="col-lg-4 col-12">

                    <div class="card">

                        <div class="card-body">
                    
                            <img src="{{path}}img/shop-3.jpg" class="img-fluid">

                        </div>

                        <div class="card-footer text-center">

                            <button 
                            [disabled]="!storeOk"
                            class="btn btn-warning btn-lg">
                            <span class="badge badge-secondary">3</span> Create Product</button>
                        
                        </div>

                    </div>

                </div>

            </div><!-- Row -->

            <!--=====================================
            Formulario para crear tienda y producto
            ======================================-->

            <form
            (ngSubmit)="onSubmit(f)"
             #f="ngForm"
            >

                <div class="tab-content" id="tabContent">

                    <!--=====================================
                    Términos y condiciones
                    ======================================-->
                    
                    <div id="terms" class="container tab-pane fade pt-5">
                        
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title text-center">1.Terms  and conditions</h4>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body text-left p-5">
                            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum possimus autem quasi placeat architecto deleniti, facilis laboriosam expedita ipsum aut doloremque porro illum, eligendi numquam temporibus quas at dignissimos quo.</div><br>
                            <div>Nisi veritatis, dolor fugit totam voluptatem omnis odit aliquam expedita modi, vel quia. Dolore ipsa deserunt voluptate repellendus nostrum non eum! Esse sapiente iste quos pariatur minima dolores amet, inventore!</div><br>
                            <div>Recusandae dolores fugit dolorem, placeat laboriosam. Atque sapiente nulla sequi iure reiciendis modi totam, odio aliquid repellat sunt recusandae, animi, placeat numquam enim molestiae, ullam! Quam odit distinctio, illum porro.</div><br>
                            <div>Officiis adipisci, dolores quia dignissimos enim, ipsum asperiores aspernatur porro praesentium corporis odit cupiditate sapiente, tempora aut. Officia optio nisi fugit nulla quaerat, quam qui asperiores animi iste quos doloribus.</div><br>
                            <div>Obcaecati repudiandae asperiores, recusandae eveniet placeat veniam provident similique a perspiciatis quidem vero, voluptates, velit quo corrupti officia fugit ipsa repellat illo minima, dignissimos praesentium quasi ea. Saepe, fugit rerum!</div>

                            <div class="form-group my-5">

                                <div class="ps-checkbox">
                                
                                    <input type="checkbox"
                                    class="form-control"
                                    id="accept"
                                    name="accept"
                                    [(ngModel)]="accept"
                                    (change)="changeAccept()"
                                    >

                                    <label for="accept">Accept terms and conditions</label>

                                </div>

                            </div>

                            <label class="text-danger"><sup>*</sup>Required</label>

                        </div>
        
                    </div>

                    <!--=====================================
                    Crear tienda
                    ======================================-->

                    <div id="createStore" class="container tab-pane fade">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title text-center">2.Create Store</h4>
                        </div>
                        
                        <!-- Modal body -->
                        <div class="modal-body p-5 text-left">
                            
                            <!--=====================================
                            Nombre de la tienda
                            ======================================-->

                            <div class="form-group">
                            
                                <label>Store Name<sup class="text-danger">*</sup></label>

                                <div class="form-group__content">
                                    
                                    <input type="text"
                                    class="form-control formStore"
                                    name="storeName"
                                    pattern="[A-Za-z0-9ñÑáéíóúÁÉÍÓÚ ]{1,}"
                                    [(ngModel)]="store.store"
                                    (change)="validate(storeName)"
                                    #storeName
                                    required>

                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>

                                </div>

                            </div>

                            <!--=====================================
                            Url de la tienda
                            ======================================-->

                            <div class="form-group">
                            
                                <label>Store Url<sup class="text-danger">*</sup></label>

                                <div class="form-group__content">
                                    
                                    <input type="text"
                                    class="form-control formStore"
                                    name="storeUrl"
                                    [(ngModel)]="store.url"
                                    readonly
                                    required>

                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>

                                </div>

                            </div>

                            <!--=====================================
                            Información de la tienda
                            ======================================-->

                            <div class="form-group">
                            
                                <label>Store About<sup class="text-danger">*</sup></label>

                                <div class="form-group__content">
                                    
                                    <textarea
                                    class="form-control formStore"
                                    rows="7"
                                    placeholder="Notes about your store in maximum 1000 characters, ex: We are a store specialized in technology..."
                                    name="storeAbout"
                                    pattern="[-\\(\\)\\=\\%\\&\\$\\;\\_\\*\\'\\#\\?\\¿\\!\\¡\\:\\,\\.\\0-9a-zA-ZñÑáéíóúÁÉÍÓÚ ]{1,1000}"
                                    [(ngModel)]="store.about"
                                    (change)="validate(about)"
                                    #about
                                    required></textarea>

                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>

                                </div>

                            </div>

                            <!--=====================================
                            Email de la tienda
                            ======================================-->

                            <div class="form-group">
                            
                                <label>Store Email<sup class="text-danger">*</sup></label>

                                <div class="form-group__content">
                                    
                                    <input type="email"
                                    class="form-control formStore"
                                    name="storeEmail"
                                    [(ngModel)]="store.email"
                                    email
                                    required>

                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>

                                </div>

                            </div>

                            <!--=====================================
                            País de la tienda
                            ======================================-->

                            <div class="form-group">
                            
                                <label>Store Country<sup class="text-danger">*</sup></label>

                                <div class="form-group__content">
                                    
                                    <select
                                    class="form-control formStore"
                                    name="storeCountry"
                                    [(ngModel)]="store.country"
                                    (change)="changeCountry(inputCountry)"  
                                    #inputCountry   
                                    required>
                                        
                                        <option 
                                        *ngFor="let country of countries"
                                        [value]="country.name">{{country.name}}</option>

                                    </select>

                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>

                                </div>

                            </div>

                            <!--=====================================
                            Ciudad de la tienda
                            ======================================-->

                            <div class="form-group">
                            
                                <label>Store City<sup class="text-danger">*</sup></label>

                                <div class="form-group__content">
                                    
                                    <input type="text"
                                    class="form-control formStore"
                                    name="storeCity"
                                    pattern="[A-Za-zñÑáéíóúÁÉÍÓÚ ]{1,}"
                                    [(ngModel)]="store.city"
                                    (change)="validate(city)"
                                    #city
                                    required>

                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>

                                </div>

                            </div>

                            <!--=====================================
                            Teléfono de la tienda
                            ======================================-->

                            <div class="form-group">
                            
                                <label>Store Phone<sup class="text-danger">*</sup></label>

                                <div class="form-group__content input-group">

                                    <div class="input-group-append">
                                        <span class="input-group-text">{{dialCode}}</span>
                                    </div>
                                    
                                    <input type="text"
                                    class="form-control formStore"
                                    name="storePhone"
                                    pattern="[-\\0-9 ]{1,}"
                                    [(ngModel)]="store.phone"
                                    (change)="validate(phone)"
                                    #phone
                                    required>

                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>

                                </div>

                            </div>

                            <!--=====================================
                            Dirección de la tienda
                            ======================================-->

                            <div class="form-group">
                            
                                <label>Store Address<sup class="text-danger">*</sup></label>

                                <div class="form-group__content">
                                    
                                    <input type="text"
                                    class="form-control formStore"
                                    name="storeAddress"
                                    pattern="[-\\(\\)\\=\\%\\&\\$\\;\\_\\*\\'\\#\\?\\¿\\!\\¡\\:\\,\\.\\0-9a-zA-ZñÑáéíóúÁÉÍÓÚ ]{1,1000}"
                                    [(ngModel)]="store.address"
                                    (change)="validate(address)"
                                    #address
                                    required>

                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>

                                </div>

                            </div>

                            <!--=====================================
                            Logo de la tienda
                            ======================================-->

                            <div class="form-group">
                               
                                <label>Store Logo<sup class="text-danger">*</sup></label> 
 
                                 <div class="form-group__content">
                                     
                                    <label class="pb-5" for="storeLogo">
                                        <img src="{{store.logo}}" class="img-fluid changeLogo" style="width:150px">
                                    </label> 
 
                                    <div class="custom-file">
                                        
                                         <input type="file"
                                         class="custom-file-input formStore"
                                         id="storeLogo"
                                         accept="image/*"
                                         maxSize="2000000"
                                         (change)="validateImage($event, 'changeLogo')"
                                         required>
 
                                         <div class="valid-feedback">Valid.</div>
                                         <div class="invalid-feedback">Please fill out this field.</div>
 
                                         <label class="custom-file-label" for="storeLogo">Choose file</label>
                                  
                                    </div>
 
                                </div>
 
                            </div>

                            <!--=====================================
                            Portada de la tienda
                            ======================================-->

                            <div class="form-group">
                               
                                <label>Store Cover<sup class="text-danger">*</sup></label> 
 
                                 <div class="form-group__content">
                                     
                                    <label class="pb-5" for="storeCover">
                                        <img src="{{store.cover}}" class="img-fluid changeCover">
                                    </label> 
 
                                    <div class="custom-file">
                                        
                                         <input type="file"
                                         class="custom-file-input formStore"
                                         id="storeCover"
                                         accept="image/*"
                                         maxSize="2000000"
                                         (change)="validateImage($event, 'changeCover')"
                                         required>
 
                                         <div class="valid-feedback">Valid.</div>
                                         <div class="invalid-feedback">Please fill out this field.</div>
 
                                         <label class="custom-file-label" for="storeCover">Choose file</label>
                                  
                                    </div>
 
                                </div>
 
                            </div>

                            <!--=====================================
                            Redes sociales de la tienda
                            ======================================-->

                            <div class="form-group">
                                
                                <label>Social Networks</label>

                                <!--=====================================
                                Facebook
                                ======================================-->

                                <div class="form-group__content input-group mb-5">
                                    
                                    <div class="input-group-append">
                                        <span class="input-group-text">https://facebook.com</span>
                                    </div>

                                    <input type="text"
                                    class="form-control"
                                    name="facebook"
                                    social="socialNetwork"
                                    pattern="[-\\_\\.\\0-9a-zA-Z]{1,}"
                                    [(ngModel)]="social['facebook']"
                                    (change)="validate(facebook)"
                                    #facebook
                                    >

                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>

                                </div>

                                <!--=====================================
                                Instagram
                                ======================================-->

                                <div class="form-group__content input-group mb-5">
                                    
                                    <div class="input-group-append">
                                        <span class="input-group-text">https://instagram.com</span>
                                    </div>

                                    <input type="text"
                                    class="form-control"
                                    name="instagram"
                                    social="socialNetwork"
                                    pattern="[-\\_\\.\\0-9a-zA-Z]{1,}"
                                    [(ngModel)]="social['instagram']"
                                    (change)="validate(instagram)"
                                    #instagram
                                    >

                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>

                                </div>

                                <!--=====================================
                                Twitter
                                ======================================-->

                                <div class="form-group__content input-group mb-5">
                                    
                                    <div class="input-group-append">
                                        <span class="input-group-text">https://twitter.com</span>
                                    </div>

                                    <input type="text"
                                    class="form-control"
                                    name="twitter"
                                    social="socialNetwork"
                                    pattern="[-\\_\\.\\0-9a-zA-Z]{1,}"
                                    [(ngModel)]="social['twitter']"
                                    (change)="validate(twitter)"
                                    #twitter
                                    >

                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>

                                </div>

                                <!--=====================================
                                Linkedin
                                ======================================-->

                                <div class="form-group__content input-group mb-5">
                                    
                                    <div class="input-group-append">
                                        <span class="input-group-text">https://linkedin.com</span>
                                    </div>

                                    <input type="text"
                                    class="form-control"
                                    name="linkedin"
                                    social="socialNetwork"
                                    pattern="[-\\_\\.\\0-9a-zA-Z]{1,}"
                                    [(ngModel)]="social['linkedin']"
                                    (change)="validate(linkedin)"
                                    #linkedin
                                    >

                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>

                                </div>

                                <!--=====================================
                                Youtube
                                ======================================-->

                                <div class="form-group__content input-group mb-5">
                                    
                                    <div class="input-group-append">
                                        <span class="input-group-text">https://youtube.com</span>
                                    </div>

                                    <input type="text"
                                    class="form-control"
                                    name="youtube"
                                    social="socialNetwork"
                                    pattern="[-\\_\\.\\0-9a-zA-Z]{1,}"
                                    [(ngModel)]="social['youtube']"
                                    (change)="validate(youtube)"
                                    #youtube
                                    >

                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>

                                </div>



                            </div>

                            

                        </div>
                        
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button 
                            [disabled]="!accept" 
                            type="button" 
                            class="btn btn-warning"
                            (click)="createProduct()">Next</button>
                        </div>

                    </div>

                    <!--=====================================
                    Crear Producto
                    ======================================-->

                    <div id="createProduct" class="container tab-pane fade">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title text-center">3.Create Product</h4>
                        </div>
                        
                        <!-- Modal body -->
                        <div class="modal-body p-5 text-left">
                            
                            <!--=====================================
                            Nombre del producto
                            ======================================-->

                            <div class="form-group">
                            
                                <label>Product Name<sup class="text-danger">*</sup></label>

                                <div class="form-group__content">
                                    
                                    <input type="text"
                                    class="form-control formProduct"
                                    name="productName"
                                    pattern="[A-Za-z0-9ñÑáéíóúÁÉÍÓÚ ]{1,}"
                                    [(ngModel)]="product.name"
                                    (change)="validate(productName)"
                                    #productName
                                    required>

                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>

                                </div>

                            </div>

                            <!--=====================================
                            Url del producto
                            ======================================-->

                            <div class="form-group">
                            
                                <label>Product Url<sup class="text-danger">*</sup></label>

                                <div class="form-group__content">
                                    
                                    <input type="text"
                                    class="form-control formProduct"
                                    name="productUrl"
                                    [(ngModel)]="product.url"
                                    readonly
                                    required>

                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>

                                </div>

                            </div>

                            <!--=====================================
                            Categoría del producto
                            ======================================-->

                            <div class="form-group">
                            
                                <label>Product Category<sup class="text-danger">*</sup></label>

                                <div class="form-group__content">
                                    
                                    <select
                                    class="form-control formProduct"
                                    name="productCategory"
                                    [(ngModel)]="product.category"
                                    (change)="changeCategory(inputCategory)"  
                                    #inputCategory   
                                    required>
                                        
                                        <option 
                                        *ngFor="let category of categories"
                                        [value]="category.name+'_'+category.url">{{category.name}}</option>

                                    </select>

                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>

                                </div>

                            </div>

                            <!--=====================================
                            SubCategoría del producto
                            ======================================-->

                            <div 
                            *ngIf="subcategories.length > 0"
                            class="form-group">
                            
                                <label>Product SubCategory<sup class="text-danger">*</sup></label>

                                <div class="form-group__content">
                                    
                                    <select
                                    class="form-control formProduct"
                                    name="productSubCategory"
                                    [(ngModel)]="product.sub_category"   
                                    required>
                                        
                                        <option 
                                        *ngFor="let subcategory of subcategories"
                                        [value]="subcategory.url+'_'+subcategory.title_list">{{subcategory.name}}</option>

                                    </select>

                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>

                                </div>

                            </div>

                            <!--=====================================
                            Descripción del producto
                            ======================================-->

                            <div class="form-group">
                                
                                <label>Product Description<sup class="text-danger">*</sup></label>
                                
                                <textarea
                                class="formProduct"                               
                                name="productDescription"
                                [(ngModel)]="product.description"
                                [ngxSummernote]="config"  
                                required
                                ></textarea>
                                <!-- Ir a summernote-lite.min.css y cambiar los siguientes valores padding de la siguiente forma
                                    .note-input padding:30px 4px
                                    .note-modal-footer .note-btn{float:right; padding: 0px 5px;}
                                 -->

                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>

                            </div>

                        </div>

                       <!-- Modal footer -->
                        <div class="modal-footer">

                            <div class="form-group submtit">
                                
                                <button 
                                [disabled]="!accept" 
                                class="ps-btn ps-btn--fullwidth">Create Store and Product</button>

                            </div>

                        </div>

                    </div>

                </div>

            </form>

        </div>

    </div>

</div>